// Color Variables

$white: #fff;
$border-color: #e6e6e6;
$primary-blue: #2187d5;
$snack-bar-red:#ee5955;
$snack-bar-green: #7ab243;
$button-grey:#939393;
$radio-button-color: #2187d5;

//padding

$padding30: 30px;
