// Color Variables

$white: #fff;
$border-color: #e6e6e6;

// Whole project primary-color

$primary-blue: #2187d5;

$text-black: #302f2f;

// Snack-bar

$dark-blue: #002046;
$snack-bar-red: #ee5955; //--snack-bar-red
$snack-bar-green: #7ab243; //--snack-bar-green

// Radio

$radio-button-color: #2187d5; //--radio-button-color

// Button

$primary-button-background-color: linear-gradient(
  to left,
  #ffc837,
  #ff8008
); //--primary-button-background-color
$primary-button-font-color: white; //--primary-button-font-color
$secondary-button-background-color: white; //--secondary-button-background-color
$secondary-button-font-color: black; //--secondary-button-font-color

// Stepper

$stepper-background-color: orange; //--stepper-background-color
$stepper-icon-number-font-color: white; //--stepper-icon-font-color
$stepper-icon-selected-font-color: green; //--stepper-icon-selected-font-color
$stepper-font-color: white; //--stepper-font-color
$stepper-border-color: #ffc837; //--stepper-border-color
$stepper-icon-done-font-color: white; // --stepper-icon-done-font-color

// Faq--button-color

$faq-button-background-color: white; // --faq-button-background-color
$faq-button-font-color: #939393; // --faq-button-font-color
$faq-button-hover-background-color: #2187d5; // --faq-button-hover-background-color

//padding

$padding30: 30px;

// responsive

$M: 650px;
$T: 850px;
$XL: 1500px;

// color-variables

$auth-color: #4b56c0;
$quote-color: #6d7580;
$primary-purple: #4b56c0;
$navy-blue: rgb(0 32 70);
$primary-gray: #9eaeb8;
$primary-gray1: rgba(158, 174, 184);
$primary-black: #484848;
$dark-grey: #727272;
$light-grey: #d9d9d9;
$light-grey2: #c5c5c5;
$initiated: #6bacf8;
$reject: #f00d2a;
$completed: #53b33e;
$light-gray: #e0e0e0;
$medium-gay: #b8bbbe;
$manually-contacts: #707070;
// $completed1: #2cf708;
$pending: #c2c2c2;
$default: #959ea7;
$dark-blue: #002046;
$dark-blue2: #00162b;
$white: #ffffff;
$button-blue: #4b56c0;
$auth-gray: #555;
$note: #9ea3aa;
$note1: #8995a3;
$black: #000;
$tooltip: #484848;
$warning: #f6b155;
$dark-warning: #fc9d03;
// $warning1: #f7910b;
$approved: #2f1dce;
$btn-shadow: #4b56c04d;
$box-shadow: #0000000d;
$hover-box-shadow: #0368ff42;
$chocolate: chocolate;
$olivedrab: olivedrab;
$timeout: #0bb2d4;
$accept: #119e0c;
$closed: #fb3d4e;
$light-blue: #3e8ef7;
$gray-total: #8995a3;
$text-email: #faa700;
$text-bot: #745af2;
$booking-feedback: #0030b5;
$list-popup: #cfd9f5;
$arrival-time: #b2b7bc;
$accordian-background: #e8eef5;

// grey palet
$c-white: $white;
$c-gray-99: #f5f6fa;
$c-gray-98: #f3f3f3;
$c-gray-95: #ededed;
$c-gray-92: #eaf0f6;
$c-gray-91: #e5e9f2;
$c-gray-90: #e3e3e3;
$c-gray-89: #e2e2e2;
$c-gray-87: #e1e1f2;
$c-gray-85: #d9d9d9;
$c-gray-82: #d3d3d3;
$c-gray-81: #ced5d9;
$c-gray-80: #cccccc;
$c-gray-77: #c5c5c5;
$c-gray-75: #c0c0c0;
$c-gray-74: #b8bbbe;
$c-gray-72: #b4b4b4;
$c-gray-71: #b2b7bc;
$c-gray-70: #b0b0b0;
$c-gray-61: #99a6b5;
$c-gray-60: #999999;
$c-gray-55: #909090;
$c-gray-50: #808080;
$c-gray-47: #7e7e7e;
$c-gray-45: #727272;
$c-gray-40: #696969;
$c-gray-30: #4d4d4d;
$c-gray-20: #363636;
$c-gray-15: #222222;
$c-gray-10: #171717;
$c-black: #000000;
// popup button width

$border: #eee;
$comparison: #52b33f;
$progress-bar-arrivals-base: #e7f4f6;
$progress-bar-arrivals: #1495a4;
$progress-bar-messages-base: #f7f7f7;
$progress-bar-messages: #0000000d;
$comparison-positive: #52b33f;
$comparison-negative: #cc052b;
$rejected: #ee1044;
$pending-2: #38649f;
$accepted: #389f99;
$initiated-2: #ff8f00;
$tab-bottom-border: rgba(0, 0, 0, 0.12);
$table-hover-background: rgba(0, 0, 0, 0.01);
$table-popup-background: rgba(0, 0, 0, 0.04);
$table-hover-dark-background: rgba(0, 0, 0, 0.03);
$go-btn-default: #4b56c033;
$priority-low: #119e0c;
$priority-medium: #25a2e2;
$email: #faa700;
$pacific-blue: #0bb2d4;
$dodger-blue: #3e8ef7;
$blue-magenta: #745af2;
$alice-blue: #edf1f5;
$room-type: #f8dd8c;
$dropdown-selected-value: #673ab7;
$popup-button-width: 10vw;
$normal-button-width: 15vw;
$box-shadow-1: 0px 0px 6px $c-gray-71;
$priority-high: #f8b633;
$priority-asap: #ce0c0c;
$palettes: (
  red: (
    600: #c6002b,
    500: #cd212e,
    400: #e22c3a,
    300: #f4747c,
    200: #f79096,
    100: #f4adb1,
  ),
  blue: (
    600: #0055b7,
    500: #509da7,
    400: #30bac6,
    300: #68c8d5,
    200: #84dae5,
    100: #a3e2eb,
  ),
  grey: (
    600: #27292d,
    500: #3f4447,
    400: #717277,
    300: #a9afb2,
    200: #e6eaed,
    100: #f6f8f9,
  ),
);
:root {
  @each $colorname, $palette in $palettes {
    @each $key, $value in $palette {
      $keyname: '--palette-' + $colorname + '-' + $key;
      #{$keyname}: #{$value};
    }
  }
}
