/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'main.scss';

* {
  padding: 0;
  margin: 0;
  font-family: roboto;
}
body {
  overflow-y: hidden;
}

.mat-dialog-container {
  overflow: hidden !important;
  // max-height: 100vh !important;
  padding: 0 !important;
}

.status-image-initiated {
  filter: invert(56%) sepia(92%) saturate(448%) hue-rotate(185deg)
    brightness(101%) contrast(95%);
}

.status-image-reject {
  filter: invert(18%) sepia(89%) saturate(7441%) hue-rotate(348deg)
    brightness(95%) contrast(97%);
}

.status-image-success {
  filter: invert(58%) sepia(10%) saturate(2479%) hue-rotate(63deg)
    brightness(99%) contrast(100%);
}

.image-popup {
  .mat-dialog-container {
    background: transparent !important;
    box-shadow: none;
    img {
      max-height: 78vh;
      max-width: 80vw;
    }
    // position: relative;
    .close {
      font-size: xx-large;
      cursor: pointer;
      position: absolute;
      top: 70px;
      right: 70px;
    }
  }
}

// dialouge - box

// to-do change classes for multiple pop-up

// .cdk-overlay-pane {
//   max-height: 85vh;
//   @media screen and (max-width: 1100px) {
//     max-height: 53vh;
//   }
// }

.cdk-overlay-pane {
  @media screen and (max-width: 1100px) {
    max-width: 85vw !important;
  }
}

// text-color

.status-opacity-new {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-text-new {
  color: #3e8ef7 !important;
}

.status-selected-new {
  background-color: rgba(62, 142, 247, 1) !important;
  color: $white;
  opacity: 1;
}

.status-text-pending {
  color: $pending !important;
}

.status-text-initiated {
  color: $initiated !important;
}

.status-text-reject {
  color: $reject !important;
}

.status-text-success {
  color: $completed !important;
}

.status-opacity-pending {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-opacity-initiated {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-opacity-reject {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-opacity-success {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-background-pending {
  background-color: $pending;
}

.status-background-initiated {
  background-color: $initiated;
}

.status-background-reject {
  background-color: $reject;
}

.status-background-success {
  background-color: $completed;
}

.danger {
  background-color: $reject !important;
}

.success {
  background-color: $completed !important;
  color: $white !important;
}

.notification {
  background-color: $white;
  color: $black;
}

// modal overlay styling

.cdk-global-overlay-wrapper:nth-child(4) {
  .cdk-overlay-pane {
    padding-top: 33px;
    padding-left: 20px;
  }
}

.cdk-global-overlay-wrapper:nth-child(6) {
  .cdk-overlay-pane {
    padding-top: 50px;
    padding-left: 40px;
  }
}

.cdk-global-overlay-wrapper:nth-child(8) {
  .cdk-overlay-pane {
    padding-top: 65px;
    padding-left: 60px;
  }
}

.cdk-global-overlay-wrapper:nth-child(10) {
  .cdk-overlay-pane {
    padding-top: 80px;
    padding-left: 80px;
  }
}

.clickable-card {
  cursor: pointer;
  box-shadow: 0px 3px 20px #0368ff42;
  border: 1px solid $primary-purple;
  border-radius: 5px;
}
.material-body {
  width: 79%;
  margin: 4px 25px !important;
  margin-right: 0;
  height: 49vh;
  border-right: 2px solid #e8f3fe;
  padding-right: 15px;
  overflow-y: auto;
}
.details-wrapper {
  background-color: white;
  max-height: 94%;
}
.mat-option.mat-active {
  color: #673ab7;
}

.info-icon {
  position: relative;
}

.info-icon img {
  margin: 3px 5px 0;
  height: 100%;
  width: 14px;
}

.notifications-items-item-count {
  color: #4b56c0;
  font-weight: bold;
  letter-spacing: 0.72px;
  line-height: normal;
}
// .notifications-header .info-icon img {
//   width: 14px;
//   height: 100%;
//   margin: 3px 5px 0;
// }
// .messages-wrapper-header .info-icon img {
//   width: 14px;
//   height: 100%;
//   margin: 3px 5px 0;
// }
.rowData {
  color: $auth-color;
}
.mat-chip:nth-child(2) {
  color: #3e8ef7 !important;
}
.mat-chip:nth-child(3) {
  color: #f00d2a !important;
}

.mat-chip:nth-child(4) {
  color: #53b33e !important;
}
.mat-chip:nth-child(5) {
  color: #3e8ef7 !important;
}
.mat-chip:nth-child(6) {
  color: #f00d2a !important;
}