/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'main.scss';

* {
  padding: 0;
  margin: 0;
  font-family: roboto;
}
body {
  overflow-y: hidden;
}

.mat-dialog-container {
  overflow: hidden !important;
  // max-height: 100vh !important;
  padding: 0 !important;
}

.status-image-initiated {
  filter: invert(56%) sepia(92%) saturate(448%) hue-rotate(185deg)
    brightness(101%) contrast(95%);
}

.status-image-reject {
  filter: invert(18%) sepia(89%) saturate(7441%) hue-rotate(348deg)
    brightness(95%) contrast(97%);
}

.status-image-success {
  filter: invert(58%) sepia(10%) saturate(2479%) hue-rotate(63deg)
    brightness(99%) contrast(100%);
}

.image-popup {
  .mat-dialog-container {
    background: transparent !important;
    box-shadow: none;
    img {
      max-height: 78vh;
      max-width: 80vw;
    }
    // position: relative;
    .close {
      font-size: xx-large;
      cursor: pointer;
      position: absolute;
      top: 70px;
      right: 70px;
    }
  }
}

.cdk-overlay-pane {
  @media screen and (max-width: $L) {
    max-width: 93vw !important;
  }
}

// text-color

.status-opacity-new {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-text-new {
  color: #3e8ef7 !important;
}

.status-text-pending {
  color: $pending !important;
}

.status-text-initiated {
  color: $initiated !important;
}

.status-text-reject {
  color: $reject !important;
}

.status-text-success {
  color: $success !important;
}

.status-opacity-pending {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-opacity-initiated {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-opacity-reject {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-opacity-success {
  background-color: transparent !important;
  opacity: 0.4;
}

.status-background-pending {
  background-color: $pending;
}

.status-background-initiated {
  background-color: $initiated;
}

.status-background-reject {
  background-color: $reject;
}

.status-background-moderate {
  background-color: $initiated-2;
}

.status-background-success {
  background-color: $completed;
}

.notification {
  background-color: $white;
  color: $black;
}

.clickable-card {
  cursor: pointer;
  box-shadow: 0px 3px 20px #0368ff42;
  border: 1px solid $primary-cta;
  border-radius: 5px;
}
.material-body {
  width: 79%;
  margin: 4px 25px !important;
  margin-right: 0;
  height: 85%;
  border-right: 2px solid #e8f3fe;
  padding-right: 15px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
}
.details-wrapper {
  background-color: white;
  max-height: 94%;
}

// .mat-option.mat-active {
//   color: $primary-gray1;
// }

.active {
  pointer-events: visible;
}

.disabled {
  pointer-events: none;
}

.comparison-negative {
  color: $comparison-negative;
}

.comparison-positive {
  color: $comparison-positive;
}

/****  Snackbar styling          ****/

.mat-snack-bar-container {
  border-radius: 5px !important;
  font-size: 16px;
  letter-spacing: 0.96px;
  text-align: left;
  display: flex !important;
  flex-wrap: wrap;
  max-width: 396px !important;
}

.danger {
  background-color: #fee6e9 !important;
  color: $reject;
}

.success {
  background-color: $snackbarSuccess !important;
  color: $comparison;
}

.pulse {
  animation: animation-pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.5s;
}

@keyframes animation-pulse {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
