@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
* {
  font-family: 'Dancing Script', cursive;
}
/* font-family , logo , font-size , font-color , backgorund-image ,  */

/* For custom stepper svg image */
/* .percentage {
  font-family: 'Dancing Script', cursive !important;
} */

.background__wrapper {
  background-image: url('https://www.theleela.com/en_us/bengaluru-hotel-images/5-star-hotels-in-bangalore.jpg') !important;
}
