<div class="login_container">
  <div class="row">
    <!-- Here header will come -->
  </div>
  <form [formGroup]="loginForm">
    <div class="card">
      <h4 class="card--heading">Login</h4>
      <h3 class="card--quote">Welcome to BOTSHOT Admin Panel</h3>
      <div class="card--social-btns">
        <!-- Social buttons will come here -->
      </div>
      <div class="card-form">
        <div class="form-row">
          <mat-form-field>
            <input
              type="text"
              matInput
              formControlName="email"
              placeholder="Email Address"
            />
            <mat-error
              *ngIf="
                loginForm.get('email').touched &&
                loginForm.get('email').hasError('required')
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                loginForm.get('email').touched &&
                loginForm.get('email').hasError('pattern')
              "
            >
              Please enter the valid Email
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field>
            <input
              [type]="!isPasswordVisible ? 'password' : 'text'"
              matInput
              formControlName="password"
              placeholder="Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="isPasswordVisible = !isPasswordVisible"
            >
              <mat-icon>{{
                !isPasswordVisible ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                loginForm.get('password').touched &&
                loginForm.get('password').hasError('required')
              "
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="
                loginForm.get('password').touched &&
                (loginForm.get('password').hasError('minlength') ||
                  loginForm.get('password').hasError('maxlength'))
              "
            >
              Please enter valid Password
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="forgot__block">
        <a class="forgot--password" (click)="navigateToRequestPassword()"
          >Forgot Password?</a
        >
      </div>
      <div class="card-footer">
        <button class="login" mat-button (click)="login()">
          <i *ngIf="isSigningIn" class="fa fa-spinner fa-spin"></i>
        {{isSigningIn ? "saving" : "Login"}}
      </button>
      </div>
    </div>
  </form>
</div>
