@import 'main';

.material-icons {
  margin-right: 15px;
  color: $dark-grey;
}

.card {
  &--heading {
    color: $navy-blue !important;
    @include auth-heading();

    @media screen and (max-width: $tablet) {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
      letter-spacing: 0.9px;
    }
  }
  &--quote {
    @include auth-quote();
    @media screen and (max-width: $tablet) {
      margin-bottom: 0;
      letter-spacing: 0.48px;
    }
  }
}

@-webkit-keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

@keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

.social-btns i {
  font-size: 21px;
  color: $white;
}

.social-btns button {
  margin: 0px 8px;
}

.forgot__block {
  width: 100%;
  text-align: left;

  .forgot--password {
    text-decoration: none;
    color: $auth-color;
    font-size: 14px;
    font-weight: $medium;
    letter-spacing: 0.56px;
    &:hover {
      cursor: pointer;
    }
  }
}

.tip {
  margin-top: -20px;
}

.form-row,
.card-form,
.mat-form-field {
  width: 100%;
}

.card-form {
  padding: 5px;
}

.form-row {
  position: relative;
  @include flex-item-center();
  margin-top: 30px;
  @media screen and (max-width: $tablet) {
    margin-top: 45px;
    input {
      color: $navy-blue !important;
      letter-spacing: 0.48px;
    }
  }
}

.form-row i {
  position: relative;
  top: -5px;
  margin-right: 15px;
  color: $auth-gray;
}

.card-footer {
  margin-top: 2rem;
  @media (max-width: $tablet) {
    margin-top: 50px;
  }
}

.card-footer button {
  @include primaryButton();
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px $btn-shadow;
  }
  @media screen and (max-width: $tablet) {
    @include normalText;
    height: 4.5vw;
    @include flex-all-center;
    width: 14vw;
  }
}
:host ::ng-deep .mat-form-field-label {
  @media (max-width: $tablet) {
    font-size: 14px !important;
    color: $primary-gray !important;
    letter-spacing: 0.42px;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: $tablet) {
  :host ::ng-deep {
    .mat-form-field-underline {
      background-color: $quote-color !important;
    }
  }
}
