@import 'main';

.material-icons {
  margin-right: $margin15;
  color: $dark-grey;
}

.card {
  &--heading {
    color: $navy-blue !important;
    @include auth-heading();

    @media screen and (max-width: $tablet) {
      font-size: $font30;
      font-weight: bold;
      @include margin-bottom(20px);
      letter-spacing: 0.9px;
    }
  }
  &--quote {
    @include auth-quote();
    @media screen and (max-width: $tablet) {
      @include margin-bottom(0);
      letter-spacing: 0.48px;
    }
  }
}

@-webkit-keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

@keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

.social-btns i {
  @include font-size(21);
  color: $white;
}

.social-btns button {
  @include margin(0px 8px);
}

.forgot__block {
  width: $full;
  text-align: left;

  .forgot--password {
    text-decoration: none;
    color: $auth-color;
    font-size: $font14;
    font-weight: $medium;
    letter-spacing: 0.56px;
    &:hover {
      cursor: pointer;
    }
  }
}

.tip {
  @include margin-top(-20px);
}

.form-row,
.card-form,
.mat-form-field {
  width: $full;
}

.card-form {
  @include padding(5px);
}

.form-row {
  position: relative;
  @include flex-item-center();
  @include margin-top(30px);
  @media screen and (max-width: $tablet) {
    @include margin-top(45px);
    input {
      color: $navy-blue !important;
      letter-spacing: 0.48px;
    }
  }
}

.form-row i {
  position: relative;
  top: -5px;
  @include margin-right(15px);
  color: $auth-gray;
}

.card-footer {
  @include margin-top(2rem);
  @media (max-width: 1024px) {
    @include margin-top(50px);
  }
}

.card-footer button {
 @include primaryButton();
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px #4b56c04d;
  }
  @media screen and (max-width: $tablet) {
    font-size: $font16;
    font-weight: $medium;
    letter-spacing: 0.48px;
    height: 4.5vw;
    @include flex-all-center;
    width: 14vw;
  }
}
:host ::ng-deep .mat-form-field-label {
  @media (max-width: 1024px) {
    font-size: $font14 !important;
    color: $primary-gray !important;
    letter-spacing: 0.42px;
    @include margin-bottom(33px);
  }
}

@media screen and (max-width: $tablet) {
  :host ::ng-deep {
    .mat-form-field-underline {
      background-color: $quote-color !important;
    }
  }
}
