<div class="login_container">
  <div class="row">
    <!-- Here header will come -->
  </div>
  <form [formGroup]="requestPasswordForm">
    <div class="card">
      <h4 class="card--heading">
        {{ 'auth.forgot_your_password' | translate }}
      </h4>
      <h3 class="card--quote">
        {{ 'auth.reset_password_message' | translate }}
      </h3>
      <div class="card-form">
        <div class="form-row">
          <mat-form-field>
            <input
              type="text"
              matInput
              formControlName="email"
              placeholder="Email Address"
            />
            <mat-error
              *ngIf="
                requestPasswordForm.get('email').touched &&
                requestPasswordForm.get('email').hasError('required')
              "
            >
              {{ 'auth.email_required' | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                requestPasswordForm.get('email').touched &&
                requestPasswordForm.get('email').hasError('pattern')
              "
            >
              {{ 'auth.valid_email' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <p class="note">{{ 'auth.confirm_mail_message' | translate }}</p>
      </div>
      <div class="card-footer">
        <button class="login" mat-button (click)="requestPassword()">
          {{ 'auth.request' | translate }}
        </button>
      </div>
      <div class="back-button" (click)="navigateToLogin()">
        <mat-icon class="material-icon">keyboard_backspace</mat-icon>
        <mat-label class="label">{{ 'auth.back' | translate }}</mat-label>
      </div>
    </div>
  </form>
</div>
