<div class="login_container">
  <div class="row">
    <!-- Here header will come -->
  </div>
  <form [formGroup]="requestPasswordForm" (ngSubmit)="requestPassword()">
    <div class="card">
      <h4 class="card--heading">Forgot Your Password?</h4>
      <h3 class="card--quote">
        Don't worry! Just fill in your email and we'll send you a link to reset
        your password.
      </h3>
      <div class="card-form">
        <div class="form-row">
          <mat-form-field>
            <input
              type="text"
              matInput
              formControlName="email"
              placeholder="Email Address"
            />
            <mat-error
              *ngIf="
                requestPasswordForm.get('email').touched &&
                requestPasswordForm.get('email').hasError('required')
              "
            >
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                requestPasswordForm.get('email').touched &&
                requestPasswordForm.get('email').hasError('pattern')
              "
            >
              Please enter the valid Email
            </mat-error>
          </mat-form-field>
        </div>
        <span class="note"
          >Note: Confirmation mail is usually present in spam.</span
        >
      </div>
      <!-- <div class="forgot__block">
        <a class="forgot--password" (click)="navigateToLogin()"
          >Back to Login</a
        >
      </div> -->
      <div class="card-footer">
        <button class="login" mat-button>Request</button>
      </div>
    </div>
  </form>

  <!-- <div class="footer">
    <div class="links">
      <a href="#">About Us</a>
      <a href="#">Privacy</a>
    </div>
    <p>&copy;&nbsp;2020,Botshot. All Rights Reserved</p>
  </div> -->
</div>
