<div class="login_container">
  <div class="row">
    <!-- Here header will come -->
  </div>
  <form [formGroup]="resetPasswordForm">
    <div class="card">
      <h4 class="card--heading">{{ 'auth.reset_password' | translate }}</h4>
      <h3 class="card--quote">
        {{ 'auth.reset_password_info' | translate }}
      </h3>
      <div class="card-form">
        <div class="form-row">
          <mat-form-field>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="New Password"
            />
            <mat-error
              *ngIf="
                resetPasswordForm.get('password').touched &&
                resetPasswordForm.get('password').hasError('required')
              "
            >
              {{ 'auth.password_required' | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                resetPasswordForm.get('password').touched &&
                (resetPasswordForm.get('password').hasError('minlength') ||
                  resetPasswordForm.get('password').hasError('maxlength'))
              "
            >
              {{ 'auth.valid_password' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field>
            <input
              [type]="!isPasswordVisible ? 'password' : 'text'"
              matInput
              formControlName="resetPassword"
              placeholder="Confirm Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="isPasswordVisible = !isPasswordVisible"
            >
              <mat-icon>{{
                !isPasswordVisible ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                resetPasswordForm.get('resetPassword').touched &&
                resetPasswordForm.get('resetPassword').hasError('required')
              "
            >
              {{ 'auth.confirm_password' | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                resetPasswordForm.get('resetPassword').touched &&
                resetPasswordForm.get('resetPassword').hasError('passwordMatch')
              "
            >
              {{ 'auth.different_password' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="card-footer" (click)="resetPassword()">
        <button class="login" mat-button>{{ 'auth.save' | translate }}</button>
      </div>
    </div>
  </form>
</div>
