@import 'main';

.material-icons {
  margin-right: $margin15;
  color: $dark-grey;
}

.card {
  &--heading {
    @include auth-heading();
    @media screen and (max-width: $tablet) {
      font-size: $font30;
      color: $navy-blue;
      letter-spacing: 0.9px;
    }
  }
  &--quote {
    @include auth-quote();
    @media screen and (max-width: $tablet) {
      font-size: $font16;
    }
  }
  @media screen and (max-width: $tablet) {
    @include padding-bottom(20px);
    @include padding-top(20%);
  }
}

@-webkit-keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

@keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

.social-btns i {
  font-size: 21px;
  color: $white;
}

.social-btns button {
  margin: 0 8px;
}

.forgot__block {
  width: $full;
  text-align: right;

  .forgot--password {
    text-decoration: none;
    color: $auth-color;
    font-size: $font14;
    font-weight: $bolder;
    &:hover {
      cursor: pointer;
    }
  }
}

.tip {
  margin-top: -20px;
}

.form-row,
.card-form,
.mat-form-field {
  width: $full;
}

.card-form {
  padding: 5px;
  @media screen and (max-width: $tablet) {
    .note {
      color: $quote-color;
      font-size: $font12;
    }
  }
}

.form-row {
  position: relative;
  @include flex-item-center();
  margin-top: 30px;
  @media screen and (max-width: $tablet) {
    @include margin-top(45px);
    input {
      color: $navy-blue !important;
      letter-spacing: 0.48px;
      font-size: $font16;
    }
  }
}

.form-row i {
  position: relative;
  top: -5px;
  margin-right: $margin15;
  color: $auth-gray;
}

.card-footer {
  margin-top: 5rem;
  @media screen and (max-width: $tablet) {
    display: flex;
  }
}

.card-footer button {
  color: $white;
  font-size: $font14;
  font-weight: 400;
  background-color: $auth-color;

  width: 10vw;
  border-radius: 25px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px $btn-shadow;
  }
  @media screen and (max-width: $tablet) {
    font-size: $font16;
    font-weight: $medium;
    letter-spacing: 0.48px;
    width: max-content;
    min-width: 14vw;
    @include flex-all-center;
  }
}

@media screen and (max-width: $tablet) {
  :host ::ng-deep {
    .mat-form-field-underline {
      background-color: $quote-color !important;
    }
    .mat-form-field-label {
      font-size: $font14 !important;
      color: $primary-gray !important;
      letter-spacing: 0.42px;
      @include margin-bottom(33px);
    }
  }
}
