<div class="login_container">
  <div class="row">
    <!-- Here header will come -->
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="ResetPassword()">
    <div class="card">
      <h4 class="card--heading">Reset Your Password</h4>
      <h3 class="card--quote">
        Enter below details to reset password.
      </h3>
      <div class="card-form">
        <div class="form-row">
          <mat-form-field>
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="New Password"
            />
            <mat-error
              *ngIf="
                resetPasswordForm.get('password').touched &&
                resetPasswordForm.get('password').hasError('required')
              "
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="
                resetPasswordForm.get('password').touched &&
                (resetPasswordForm.get('password').hasError('minlength') ||
                  resetPasswordForm.get('password').hasError('maxlength'))
              "
            >
              Please enter valid password
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field>
            <input
              [type]="!isPasswordVisible ? 'password' : 'text'"
              matInput
              formControlName="resetPassword"
              placeholder="Confirm Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="isPasswordVisible = !isPasswordVisible"
            >
              <mat-icon>{{
                !isPasswordVisible ? 'visibility_off' : 'visibility'
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                resetPasswordForm.get('resetPassword').touched &&
                resetPasswordForm.get('resetPassword').hasError('required')
              "
            >
              Please confirm the password
            </mat-error>
            <mat-error
              *ngIf="
                resetPasswordForm.get('resetPassword').touched &&
                resetPasswordForm.get('resetPassword').hasError('passwordMatch')
              "
            >
              Passwords did not match
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="forgot__block">
        <a class="forgot--password" (click)="navigateToLogin()"
          >Back to Login</a
        >
      </div>
      <div class="card-footer">
        <button class="login" mat-button>Save</button>
      </div>
    </div>
  </form>

  <!-- <div class="footer">
    <div class="links">
      <a href="#">About Us</a>
      <a href="#">Privacy</a>
    </div>
    <p>&copy;&nbsp;2020,Botshot. All Rights Reserved</p>
  </div> -->
</div>
