@import 'main';

.material-icons {
  margin-right: $margin15;
  color: $dark-grey;
}

.card {
  &--heading {
    @include auth-heading();
  }
  &--quote {
    @include auth-quote();
  }
}

@-webkit-keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

@keyframes card {
  from {
    top: -40px;
  }
  to {
    top: 0;
  }
}

.social-btns i {
  font-size: 21px;
  color: $white;
}

.social-btns button {
  margin: 0 8px;
}

.forgot__block {
  width: $full;
  text-align: right;

  .forgot--password {
    text-decoration: none;
    color: $auth-color;
    font-size: $font14;
    font-weight: $bolder;
    &:hover {
      cursor: pointer;
    }
  }
}

.tip {
  margin-top: -20px;
}

.form-row,
.card-form,
.mat-form-field {
  width: $full;
}

.card-form {
  padding: 5px;
}

.form-row {
  position: relative;
  @include flex-item-center();
  margin-top: 30px;
}

.form-row i {
  position: relative;
  top: -5px;
  margin-right: $margin15;
  color: $auth-gray;
}

.card-footer {
  margin-top: 5rem;
}

.card-footer button {
  color: $white;
  font-size: $font14;
  font-weight: 400;
  background-color: $auth-color;

  width: 10vw;
  border-radius: 25px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px $auth-btn-shadow;
  }
}
