<div>
  <div class="row"></div>
  <div class="card">
    <h4 class="card--heading">We've Mailed You!</h4>
    <h3 class="card--quote" style="margin-bottom: 10px;">
      We’ve sent you an email that contains a link to reset your password.
    </h3>
    <h3 class="card--quote">
      Please check your spam inbox if you can’t find the mail. If you still
      can’t find it, we can resend it.
    </h3>
    <div class="card-footer">
      <button class="login cancel" mat-button (click)="navigateToLogin()">
        Cancel
      </button>
      <button class="login" mat-button (click)="navigateToRequestPassword()">
        Resend Mail
      </button>
    </div>
  </div>
</div>
