<div class="login_container">
    <div class="row">
      <!-- Here header will come -->
    </div>
      <div class="card">
        <div class="card-header">
          <h4>WE'VE MAILED YOU!</h4>
        </div>
        <div class="card-form">
          <div class="form-row">
            <span>We've sent you an email that contains a link to reset your password</span>
          </div>
          <div class="form-row">
            <span>Please check your spam inbox if you can't find the mail.</span>
            <span>If you still can't find it, we can resend it.</span>
          </div>
        </div>
        <!-- <div class="forgot__block">
          <a class="forgot--password">Back to Login</a>
        </div> -->
        <div class="card-footer">
          <button class="login" mat-button (click)="navigateToLogin()">CANCEL</button>
          <button class="login" mat-button (click)="navigateToRequestPassword()">RESEND MAIL</button>
        </div>
      </div>
  
    <div class="footer">
      <div class="links">
        <a href="#">About Us</a>
        <a href="#">Privacy</a>
      </div>
      <p>&copy;&nbsp;2020,Botshot. All Rights Reserved</p>
    </div>
  </div>
  