// font-weights

$medium: 500;
$bold: 600;
$bolder: 700;

// font-sizes

$font12: 12px;
$font13: 13px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font10: 10px;
$font30: 30px;
$font40: 40px;

// auth-varaibles

$auth-heading: 35px;
$auth-quote: 18px;
