// font-weights

$medium: 500;
$bold: 600;
$bolder: 700;

// font-sizes
$font8: 8px;
$font12: 12px;
$font11:11px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font10: 10px;
$font30: 30px;
$font40: 40px;
$font25: 25px;
$font41: 41px;

// tablet view
$tabfont25: 1.56rem;
// auth-varaibles

$auth-heading: 35px;
$auth-quote: 18px;
