// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// color varaibles
@import 'abstracts/variables';

// constant varaibles
@import 'abstracts/constants';

// mixins
@import 'abstracts/mixins';

// typography base
@import 'base/typography';

// components input
@import 'components/input';

// Font family

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: $whiteDeep;
}
::-webkit-scrollbar-thumb {
  background: $grayLight;
  border-radius: 10px;
}

*:not(mat-icon, i) {
  font-family: Poppins;
}

// @font-face {
//   font-family: 'Poppins-regular';
//   src: url('../../assets/fonts/Poppins-Regular.ttf');
// }

// @font-face {
//   font-family: 'Poppins-medium';
//   src: url('../../assets/fonts/Poppins-Medium.ttf');
// }

// @font-face {
//   font-family: 'Poppins-SemiBold';
//   src: url('../../assets/fonts/Poppins-SemiBold.ttf');
// }

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.white-icon {
  filter: brightness(0) invert(1);
}

// Sidebar header desing
.sidebar-slide-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: $primary;
  color: $white;
  .title,
  .center-item {
    @include flex-item-center();
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    img {
      width: 20px;
    }
  }
  .close-icon {
    color: $white;
    &:hover {
      cursor: pointer;
    }
  }
}

.p-menuitem.activeClass {
  background: rgba(103, 58, 183, 0.12);
  span {
    color: $primary !important;
  }
}

// Dynamic dialog styling
@mixin dialog-style {
  .p-dialog-header {
    display: none;
  }
  .p-dialog-content {
    border-radius: 5px;
    padding: 0;
  }
}

.dynamic-modal {
  min-width: 950px;
  @include dialog-style;
}

// Confirmation dialog style
.confirm-dialog {
  @include dialog-style;
  width: unset;
  min-width: 550px;
}

// Dialog with header
.header-dialog {
  min-width: 950px;
  .p-dialog-header {
    background-color: $header-background;
    padding: 10px 15px;
  }
  .p-dialog-content {
    padding: unset;
  }
}

// Table switch icons styling
.pull-right {
  @include flex-item-center;
  gap: 5px;

  margin: 0 20px;
  .type-label {
    margin: 0 1%;
  }

  .type-label > .image {
    height: 38px;
    width: 38px;
    @include flex-all-center;
    border-radius: 50%;
    img {
      height: 20px;
    }
  }
  .type-label > input {
    /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }

  .type-label > input + .image {
    position: relative;
    cursor: pointer;
  }

  .type-label > input:checked + .image {
    background-color: $primary-cta;
    img {
      filter: invert(0);
    }
  }
}

// no style dialog
.no-style {
  width: unset !important;
  .p-dialog-header {
    display: none;
  }
  .p-dialog-content {
    padding: unset;
    .close {
      text-align: right;
      margin-right: 11px;
      cursor: pointer;
    }
    img {
      max-height: 78vh;
      max-width: 80vw;
    }
  }
}

// graph select global style
:host ::ng-deep .stats__select {
  min-width: 125px;
  .p-dropdown {
    padding: 10px;
    height: 34px;
    .selected-item,
    .p-dropdown-trigger-icon {
      font-size: 12px;
      margin-top: 0px;
    }
  }
}

// Sidebar Styling
.night-audit {
  @include default-close;
  .p-sidebar-right {
    @include sidebar-design(60rem);
  }
}

.booking {
  @include default-close;
  .p-sidebar-right {
    width: 35rem;
  }
}

.click-disable {
  pointer-events: none;
  opacity: 0.5;
}
