<div class="wrapper">
  <div class="wrapper--left">
    <div class="wrapper--left-auth-panel">
      <router-outlet></router-outlet>
    </div>
    <footer class="wrapper--left-footer">
      {{ 'agreement_text' | translate }}&nbsp;<a
        [href]="authConstants.linkUrl.termsAndCondition"
        target="_blank"
        rel="noopener"
        >{{ 'terms_text' | translate }}</a
      >
    </footer>
    <div class="wrapper--left-svg-icons first">
      <img [src]="authConstants.imgUrl.bell" [alt]="authConstants.alt.bell" />
    </div>
    <div class="wrapper--left-svg-icons second">
      <img [src]="authConstants.imgUrl.hotel" [alt]="authConstants.alt.hotel" />
    </div>
    <div class="wrapper--left-svg-icons third">
      <img
        [src]="authConstants.imgUrl.luggage"
        [alt]="authConstants.alt.luggage"
      />
    </div>
    <div class="wrapper--left-svg-icons fourth">
      <img
        [src]="authConstants.imgUrl.metroHotel"
        [alt]="authConstants.alt.metroHotel"
      />
    </div>
  </div>
  <div class="wrapper--right">
    <div
      class="wrapper--right--carousel"
      slickContainer
      #slickController="slick"
      [slickConfig]="config"
    >
      <ng-container *ngIf="slickController.initialize">
        <div slickItem></div>
        <div slickItem class="carousel--free">
          <div class="fredabg"></div>
          <div class="freedie">
            <img src="assets/svg/freedie-login.svg" alt="freedie-login" />
          </div>
        </div>
        <div slickItem class="carousel--hed">
          <div class="hedabg"></div>
          <div class="heda">
            <img src="assets/svg/heda-login.svg" alt="heda-login" />
          </div>
        </div>
      </ng-container>
    </div>
    <header class="wrapper--right-header">
      <a
        [href]="authConstants.linkUrl.aboutUs"
        target="_blank"
        rel="noopener"
        >{{ 'menu.about_us' | translate }}</a
      >
      <a
        [href]="authConstants.linkUrl.privacyPolicy"
        target="_blank"
        rel="noopener"
        >{{ 'menu.privacy_policy' | translate }}</a
      >
    </header>
    <div class="wrapper--right-managing-hotel">
      <p class="heading">{{ 'banner_heading_text' | translate }}</p>
      <div class="wrapper--right-managing-hotel-option-box">
        <div
          *ngFor="
            let option of authConstants.managingOptions;
            trackBy: trackById
          "
          class="option"
        >
          <img class="material-icons" [src]="option.url" [alt]="option.label" />
          <p class="option-label">{{ option.label }}</p>
        </div>
      </div>
    </div>
    <div class="wrapper--right-footer">
      <div class="image">
        <img [src]="authConstants.imgUrl.botshotLogo" alt="Botshot" />
      </div>
    </div>
  </div>
</div>
