<div class="wrapper">
  <div class="wrapper--left">
    <div class="wrapper--left-logo">
      <img src="assets/hilltop-logo.png" />
    </div>
    <div class="wrapper--left-auth-panel">
      <router-outlet></router-outlet>
    </div>
    <footer class="wrapper--left-footer">
      I hereby agree to&nbsp;<a>Terms and Conditions</a>
    </footer>
    <div class="wrapper--left-svg-icons first">
      <img src="assets/svg/bell.svg" />
    </div>
    <div class="wrapper--left-svg-icons second">
      <img src="assets/svg/hotel.svg" />
    </div>
    <div class="wrapper--left-svg-icons third">
      <img src="assets/svg/luggage.svg" />
    </div>
    <div class="wrapper--left-svg-icons fourth">
      <img src="assets/svg/metro-hotel.svg" />
    </div>
  </div>
  <div class="wrapper--right">
    <header class="wrapper--right-header">
      <a href="#">About Us</a>
      <a href="#">Privacy Policy</a>
    </header>
    <div class="wrapper--right-managing-hotel">
      <p class="heading">Managing Hotel is Now Easy</p>
      <div class="wrapper--right-managing-hotel-option-box">
        <div *ngFor="let option of managingOptions" class="option">
          <img class="material-icons" [src]="option.url" />
          <p class="option-label">{{ option.label }}</p>
        </div>
      </div>
    </div>
    <div class="wrapper--right-footer">
      <div class="image">
        <img src="assets/botshotlogo.png" />
      </div>
      © 2020, Botshot. All Right Reserved
    </div>
  </div>
</div>
