@import 'main';

.wrapper {
  display: flex;
  &--left {
    @include width-percentage(35%);
    @include padding-percentage(1%);
    height: 100vh;
    position: relative;
    &-logo {
      @include height(80);
      @include width(100);
      img {
        height: $full;
        width: $full;
      }
    }
    &-auth-panel {
      @include padding(30px);
      @media only screen and (max-width: 1300px) {
        @include padding(20px);
      }
    }
    &-footer {
      font-size: $font14;
      @include width-percentage(97%);
      font-weight: 400;
      text-align: center;
      position: absolute;
      bottom: 15px;
      color: $auth-quote-color;
      a {
        text-decoration: none;
        color: $primary-purple;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      @media only screen and (max-width: 800px) {
        font-size: $font13;
        bottom: 25px;
      }
    }
    &-svg-icons {
      position: absolute;
    }
    .first {
      top: 14px;
      right: 45%;
    }
    .second {
      top: 83px;
      right: 10px;
    }
    .third {
      top: 80%;
      right: 35px;
    }
    .fourth {
      bottom: 0px;
      left: 10px;
    }
  }
  &--right {
    @include width-percentage(65%);
    @include padding-percentage(1%);
    height: 100vh;
    background-image: url('../../../../../assets/auth-banner.png');
    background-repeat: no-repeat;
    background-size: $full $full;
    position: relative;
    &-header {
      @include padding(15px 0px);
      @include flex-item-center();
      justify-content: flex-end;
      a {
        text-decoration: none;
        font-size: $font12;
        font-weight: $bolder;
        @include margin(0px 10px);
        color: $white;
      }
    }
    &-managing-hotel {
      margin: 0px 8%;
      @include margin(0px 8%);
      @include margin-top(15%);
      color: $white;
      .heading {
        font-size: $font40;
        @include margin(20px 0px);
        @media only screen and (max-width: 1300px) {
          font-size: $font30;
        }
      }
      &-option-box {
        @include flex-space-between();
        flex-wrap: wrap;
        .option {
          width: $half;
          margin-bottom: $margin20;
          @include flex-item-center();
          @include padding(10px);

          .material-icons {
            @include margin-right(10px);
          }
          .option-label {
            @include margin(0);
            @media only screen and (max-width: 800px) {
              font-size: $font14;
            }
          }
        }
      }
    }
    &-footer {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include width-percentage(96%);
      bottom: 10px;
      font-size: $font14;
      color: $white;
    }
  }
}
