// Constant Variables

$border-radius-smaller: 5px;
$border-radius-small: 10px;
$border-radius-medium: 15px;
$border-radius-large: 20px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 20px;
$full-width: 100%;
$half-width: 50%;
$quarter-width: 25%;
$padding-small: 10px;
$padding-medium: 15px;
$padding-large: 20px;


// Breakpoint variables

$tab-size: 990px;

// letter-spacing

$very-small-spacing: 1px;
$small-spacing: 2px;
$medium-spacing: 4px;
$large-spacing: 6px;

