// Mixins

@mixin flex-space-between() {
  display: flex;
  justify-content: space-between;
}

@mixin flex-item-center() {
  display: flex;
  align-items: center;
}

@mixin flex-justify-center() {
  display: flex;
  justify-content: center;
}

@mixin flex-between-center() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin auth-heading() {
  font-weight: $bolder;
  font-size: 35px;
  color: $auth-color;
  margin-bottom: 15px;
  @media only screen and (max-width: 1300px) {
    font-size: 25px;
  }
}

@mixin auth-quote() {
  font-weight: $medium;
  font-size: $font16;
  color: $auth-quote-color;
  letter-spacing: 0.54px;
  line-height: 25px;
  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }
}
