// color-variables

$auth-color: #4b56c0;
$auth-quote-color: #6d7580;
$primary-purple: #4b56c0;
$primary-gray: #9eaeb8;
$primary-black: #484848;
$dark-grey: #727272;
$initiated: #6bacf8;
$reject: #f00d2a;
$completed: #53b33e;
$pending: #c2c2c2;
$default: #959ea7;
$dark-blue: #002046;

// popup button width

$popup-button-width: 10vw;

$normal-button-width: 15vw;
